<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Simple Sidebar - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="../../../public/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../../public/css/all.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../../../public/css/global.css" rel="stylesheet">
  <link href="../../../public/css/avatar.css" rel="stylesheet">

</head>

<body>


  <div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar" class="active">
      <ul class="list-unstyled components">
        <li >
          <img style="width: 150px; height: auto; margin-left: 30px; margin-top: 10px; margin-bottom: 30px;" src="../../../public/images/logo-sidebar.png">
        </li>
        <li>
          <a href="#" style="margin-left: 50px; font-size: 25px;">Juegos</a>
        </li>

        <hr color="white" width="200px">
        
        <li>
          <a href="#" style="margin-left: 50px; font-size: 25px;">Cupones</a>
        </li>

        <hr color="white" width="200px">

        <li>
          <a href="#" style="margin-left: 50px; font-size: 25px;">Negocios Participantes</a>
        </li>

        <hr color="white" width="200px">
      </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">

      <button type="button" id="sidebarCollapse">
        <i class="fas fa-bars"></i>
      </button>


</body>
  <!-- Bootstrap core JavaScript -->
  <script src="../../../public/jquery/jquery.min.js"></script>
  <script src="../../../public/js/bootstrap.min.js"></script>
  <script src="../../../public/js/global.js"></script>
</html>