<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Simple Sidebar - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="../../../public/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../../public/css/all.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../../../public/css/global.css" rel="stylesheet">
  <link href="../../../public/css/dashboard.css" rel="stylesheet">

</head>

<body>


  <div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar" class="active">
      <div class="sidebar-header">
        <img src="../../../public/images/logo-sidebar.png" alt="Sumándonos" class="img-fluid">
      </div>

      <ul class="list-unstyled components">
        <li>
          <a href="#">Editar perfil</a>
        </li>
        <li>
          <a href="#">Cupones activos</a>
        </li>
        <li>
          <a href="#">Nuevo cupón</a>
        </li>
      </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">


      <div class="row">
        <div class="col-3">
          <button type="button" id="sidebarCollapse"></button>
        </div>
        <div class="col-9 text-right">
          <img src="../../../public/images/logo-sidebar.png" id="logo-contenido">
        </div>
      </div>



      <div class="container mt-5">
        <div class="row justify-content-center">
          <div class="col-8 text-center">
            <figure id="foto-perfil">
              <a href="" class="badge badge-pill badge-danger">5</a>
              <img src="../../../public/images/logo-perfil.png" class="img-fluid">
            </figure>
            <a href="" id="editar-perfil">Editar perfil</a>


            <div class="flex-column d-flex mt-4">

              <span id="nombre-empresa">Backstage JM</span>


              <div class="mt-3">
                <span class="text-right text-danger d-block">200 cupones canjeados</span>
                <div class="progress">
                  <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>


              <a href="" class="mt-3" id="btn-cupones-activos">Cupones Activos</a>
              <a href="" class="mt-3" id="btn-nuevo-cupon">Nuevo Cupón</a>
            </div>
          </div>

        </div>
      </div>




    </div>


  </div>


  <!-- Bootstrap core JavaScript -->
  <script src="../../../public/jquery/jquery.min.js"></script>
  <script src="../../../public/js/bootstrap.min.js"></script>>
  <script src="../../../public/js/global.js"></script>


</body>

</html>