<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Simple Sidebar - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="../../../public/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../../public/css/all.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../../../public/css/global.css" rel="stylesheet">
  <link href="../../../public/css/dashboard-emp.css" rel="stylesheet">

</head>

<body>


  <div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar" class="active">
      <ul class="list-unstyled components">
        <li >
          <img style="width: 150px; height: auto; margin-left: 30px; margin-top: 10px;" src="../../../public/images/logo-sidebar.png">
        </li>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
      </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">

      <button type="button" id="sidebarCollapse">
        <i class="fas fa-bars"></i>
      </button>

      <div class="container">
        <div class="row justify-content-center">
            <div class="d-flex flex-wrap">
                <div class="w-50 p-4">
                    <img src="../../../public/images/logo-sidebar.png" class="img-fluid" alt="Sumándonos">
                </div>
            </div>
        <div class="row">
          <div class="col">
            <div class="numberCircle">30</div>
            <div class="img-perfil" >

                <img src="../../../public/images/dash-empresario/img-perfil.png"  class="perfil" alt="Sumándonos">

                <p id="editar-perfil"><a href="">Editar perfil</a></p>
            </div>
          </div>

        
          <div class="w-100"></div>

          <div class="col">
            <div class="form-group">
                <input type="text" name="name-company" class="form-control" id="name-company" placeholder="Nombre de la empresa">
            </div>
          </div>

          <div class="w-100"></div>

          <div class="col" >
            <label for="" id="canjeados" style="text-align: right;">200 cupones canjeados</label>
          </div>

          <div class="w-100"></div>

          <div class="col" >
            <div class="progress" style="height: 20px;">
                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>

          </div>

          <div class="w-100"></div>

          <div class="col">
            
                <button type="button" id="button-cupones" class="btn btn-primary btn-lg">Cupones Activos</button>
            
          </div>


          <div class="w-100"></div>

          <div class="col">
            
                <button type="button" id="nuevo-cupon" class="btn btn-primary btn-lg">Nuevo Cupón</button>
            
          </div>


        </div>
        </div>
      </div>
</div>
</div>


  <!-- Bootstrap core JavaScript -->
  <script src="../../../public/jquery/jquery.min.js"></script>
  <script src="../../../public/js/bootstrap.min.js"></script>
  <script src="../../../public/js/global.js"></script>

</body>

</html>