<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="../../../public/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../../public/css/all.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="../../../public/css/global.css" rel="stylesheet" />
    <link href="../../../public/css/games.css" rel="stylesheet" />
  </head>

  <body>
    <div class="wrapper">
      <!-- Sidebar  -->
      <nav id="sidebar" class="active">
        <ul class="list-unstyled components">
          <li>
            <img
              style="
                width: 150px;
                height: auto;
                margin-left: 30px;
                margin-top: 10px;
              "
              src="../../../public/images/logo-sidebar-bco.png"
            />
          </li>
          <li>
            <a href="#">Mi perfil</a>
          </li>
          <li>
            <a href="#">Cupones activos</a>
          </li>
          <li>
            <a href="#">Nuevo cupón</a>
          </li>
        </ul>
      </nav>

      <!-- Page Content  -->
      <div id="content">
        <div class="container" id="cupones-activos">
          <div class="row justify-content-center">
            <div class="col-4">
              <button type="button" id="sidebarCollapse"></button>
            </div>
            <div class="col-8 text-right">
              <img
                src="../../../public/images/logo-sidebar.png"
                id="logo-contenido"
              />
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-center">
          <div class="row">
            <div class="col align-self-center">
              <div class="d-flex justify-content-center">
                <div class="card mt-4" style="width: 20rem;">

                  <img
                    class="card-img-top"
                    src="../../../public/images/games/trivias.jpg"
                    alt="Card image cap" width="30px"
                  />
                  <div class="card-body">
                    <h6 style="text-align: center; font-family: Arial, Helvetica, sans-serif; font-weight: bold;">Pon a prueba tus conocimientos</h6>
                    
                    <hr style="margin-top: 0px; height: 0.5px; background-color: black;" />

                    <p style=" font-family: Arial, Helvetica, sans-serif">Gana hasta 100 modedas contestando esta trivia</p>
                    <div class="button-canjear">
                      <button
                        type="button"
                        class="btn"
                        data-toggle="modal"
                        data-target=".modal"
                      >
                        Jugar
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col align-self-center">
              <div class="d-flex justify-content-center">
                <div class="card mt-4" style="width: 20rem;">

                  <img
                    class="card-img-top"
                    src="../../../public/images/games/sentadillas.jpg"
                    alt="Card image cap"
                  />
                  <div class="card-body">
                    <h6 style="text-align: center; font-family: Arial, Helvetica, sans-serif; font-weight: bold;">¡Te ejercitas y GANAS!</h6>
                    
                    <hr style="margin-top: 0px; height: 0.5px; background-color: black;" />

                    <p style=" font-family: Arial, Helvetica, sans-serif">Gana hasta 50monedas tan solo con hacer una serie de sentadillas.</p>
                    <div class="button-canjear">
                      <button
                        type="button"
                        class="btn"
                        data-toggle="modal"
                        data-target=".modal"
                      >
                        Jugar
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col align-self-center">
              <div class="d-flex justify-content-center">
                <div class="card mt-4" style="width: 20rem;">

                  <img
                    class="card-img-top"
                    src="../../../public/images/games/lava-tus-manos.jpg"
                    alt="Card image cap"
                  />
                  <div class="card-body">
                    <h6 style="text-align: center; font-family: Arial, Helvetica, sans-serif; font-weight: bold;">#chalengeSemanal</h6>
                    
                    <hr style="margin-top: 0px; background-color: black;" />

                    <p style=" font-family: Arial, Helvetica, sans-serif">Lava tus manos y gana 150 monedas.</p>
                    <div class="button-canjear">
                      <button
                        type="button"
                        class="btn"
                        data-toggle="modal"
                        data-target=".modal"
                      >
                        Jugar
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col align-self-center">
              <div class="d-flex justify-content-center">
                <div class="card mt-4" style="width: 20rem;">

                  <img
                    class="card-img-top"
                    src="../../../public/images/games/cerebro.png"
                    alt="Card image cap"
                  />
                  <div class="card-body">
                    <h6 style="text-align: center; font-family: Arial, Helvetica, sans-serif; font-weight: bold;">Ejercita tu cerebro</h6>
                    
                    <hr style="margin-top: 0px; background-color: black;" />

                    <p style=" font-family: Arial, Helvetica, sans-serif">Encuentra las 10 diferencias en la pintura y gana 35 modedas.</p>
                    <div class="button-canjear">
                      <button
                        type="button"
                        class="btn"
                        data-toggle="modal"
                        data-target=".modal"
                      >
                        Jugar
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           


          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content text-center">
          <div class="content">
            <strong>¿Que tanto sabes sobre el COVID-19?</strong>
            <hr style="margin-top: 0px;" />
            <div class="row text-left">
              <div class="col">
            Te desafiamos a que pruebes lo que sabes acerca del COVID-19 con las siguientes preguntas y gana al instante.
            </div>
            </div>
          </div>
          <hr style="margin-top: 0px;" />
          <div class="row text-right">
            <div class="col">
              <a href="">Salir</a>
            </div>
            <div class="col text-left">
              <a href="">Jugar</a>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Bootstrap core JavaScript -->
    <script src="../../../public/jquery/jquery.min.js"></script>
    <script src="../../../public/js/bootstrap.min.js"></script>
    <script src="../../../public/js/global.js"></script>
  </body>
</html>
