<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Simple Sidebar - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="../../../public/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../../public/css/all.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../../../public/css/global.css" rel="stylesheet">

</head>

<body>


  <div class="wrapper">


    <!-- Page Content  -->
    <div id="content">

      <button type="button" id="sidebarCollapse" class="btn bg-dark text-white">
        <i class="fas fa-bars"></i>
      </button>

      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div class="row ml-5">
        <div class="col-sm-6 ml-5 mb-5">
            <img src="../../../public/images/logo-sidebar.png" alt="sidebar" style="width: 70%; height: auto;">
    
        </div>        

      </div>
      <div class="row">
        <div class="col-sm-12 mb-5">
            <a href="#">
            <img src="../../../public/images/Componente -1.png" alt="juego 1" style="width: 100%; height: auto;" >
            </a>
        </div>        
      </div>
      <div class="row">
        <div class="col-sm-12 mb-5">
            <a href="#">
            <img src="../../../public/images/Componente 8 – 1.png" alt="juego 2" style="width: 100%; height: auto;">
        </a>
        </div>        
      </div>
      <div class="row">
        <div class="col-sm-12 mb-5">
            <a href="#">
            <img src="../../../public/images/Componente 8 – 3.png" alt="juego 3" style="width: 100%; height: auto;">
        </a>
        </div>        
      </div>

    </div>


  </div>


  <!-- Bootstrap core JavaScript -->
  <script src="../../../public/jquery/jquery.min.js"></script>
  <script src="../../../public/js/bootstrap.min.js"></script>>
  <script src="../../../public/js/global.js"></script>


</body>

</html>