<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Aprendizaje en movimiento</title>

  <!-- Bootstrap core CSS -->
  <link href="../../../public/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../../public/css/all.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../../../public/css/stylesWeb.css" rel="stylesheet">

  <!-- Fontawesome -->
  <script src="https://kit.fontawesome.com/9c9030ceca.js" crossorigin="anonymous"></script>

</head>

<body>
    <div class="custom-nav">
    <nav class="navbar navbar-expand-md">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fas fa-bars"></span>
          </button>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Quienes somos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Iniciar sesion</a>
                </li>
            </ul>
        </div>
    </nav>
    </div>
    <!-- Begin of container -->
    <div class="container">
    <!-- First row -->
    <div class="row">
        <div class="col-sm-12 col-xl-6 mt-2">
            <img src="../../../public/images/final-logosuma1.png" alt="Sumándonos" class="mb-4" style="width: 50%; height: auto;">
            <h2 class="text-left mt-5">APRENDIZAJE EN </h2>
            <h1 class="text-left">MOVIMIENTO  </h1>
            <h5>Juegas, ayudas y ganas</h5>
            <div class="text-left">
                <button type="button" class="btn btn-success mt-3" style="width: 230px;">Registro</button>
            </div>

    
        </div>
        <div class="col-5 mt-5 mb-5">
            <img src="../../../public/images/OBJECTS.png" alt="Ganar" style="width: 100%; height: auto;">

        </div>
    </div>
      <!-- Second row -->
    <div class="row ">
        <div class="col-6 mt-2 mr-5">
            <img src="../../../public/images/hombre.png" alt="Hombre" class="mb-4" style="width: 100%; height: auto;">
    
        </div>
        <div class="col-sm-12 col-xl-4 ml-3">
            <h2>Quienes somos <br> </h2>
            <h5>Una Web-Mobile App interactiva donde los 
                usuarios ganan cupones de descuentos en 
                productos y servicios por realizar juegos y
                diferentes retos. (Durante y posterior a la 
                contingencia por COVID-19)
            </h5>
            <button type="button" class="btn btn-success mt-3" style="width: 230px;">Registro</button>
    
        </div>
    </div>
      <!-- Third row -->
    <div class="row ">
        <div class="col-4 ml-3 mb-3">
            <h1>Ventajas <br> </h1>
        </div>
    </div>
        <div class="col-md">
            <div class="row justify-content-between">
            <div class="box shadow text-center mb-3"> 
                <img src="../../../public/images/boton-de-play.png" alt="Juega" class=" mt-3 mb-1"><h3>Juega</h3><h5>
                    Mantente activo individualmente o en equipo
                    para generar los mas puntos posibles y aprovecha los puntos.
                </h5></div> 
            <div class="box shadow text-center mb-3"> 
                <img src="../../../public/images/ayuda.png" alt="Juega" class=" mt-3 mb-1"><h3>Ayuda</h3>
            <h5>Ayudas a negocios locales y aprovechas las
                promociones de un producto o servicio.
            </h5>
            </div> 
            <div class="box shadow text-center mb-3"> 
                <img src="../../../public/images/taza.png" alt="Juega" class=" mt-3 mb-1"><h3>Gana</h3>
            <h5>Los beneficios son productos y servicios de
                los negocios participantes.
            </h5>
            </div></div>
          </div>
    </div>
    <div class="col text-center"> 
        <button type="button" class="btn btn-success mt-5 text-center" style="width: 230px;">Registro</button>
    </div>
  <!-- End of container -->
    </div>
    

  <!-- Bootstrap core JavaScript -->
  <script src="../../../public/jquery/jquery.min.js"></script>
  <script src="../../../public/js/bootstrap.min.js"></script>
  <script src="../../../public/js/global.js"></script>


</body>

</html>