<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="../../../public/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../public/css/all.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../../public/css/global.css" rel="stylesheet">
    <link href="../../../public/css/cupones-activos.css" rel="stylesheet">

</head>

<body>


    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar" class="active">
            <ul class="list-unstyled components">
                <li>
                    <img style="width: 150px; height: auto; margin-left: 30px; margin-top: 10px;"
                        src="../../../public/images/logo-sidebar-bco.png">
                </li>
                <li>
                    <a href="#">Mi perfil</a>
                </li>
                <li>
                    <a href="#">Cupones activos</a>
                </li>
                <li>
                    <a href="#">Nuevo cupón</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <div class="container" id="cupones-activos">
                <div class="row justify-content-center">
                    <div class="col-4">
                        <button type="button" id="sidebarCollapse">
                        </button>
                    </div>
                    <div class="col-8 text-right">
                        <img src="../../../public/images/logo-sidebar.png" id="logo-contenido">
                    </div>
                </div>

                <div class="row justify-content-center mt-4">
                    <div class="col-12">
                        <h1 class="text-right">CUPONES ACTIVOS</h1>
                    </div>
                </div>

                <div class="row justify-content-center mt-4">
                    <div class="col-md-8">
                        <a class="cupon">
                            <img src="../../../public/images/cupons-player/1.png" class="img-fluid" alt="">
                        </a>

                        <a class="cupon">
                            <img src="../../../public/images/cupons-player/2.png" class="img-fluid" alt="">
                        </a>

                        <a class="cupon">
                            <img src="../../../public/images/cupons-player/3.png" class="img-fluid" alt="">
                        </a>

                        <a class="cupon">
                            <img src="../../../public/images/cupons-player/4.png" class="img-fluid" alt="">
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <!-- Bootstrap core JavaScript -->
    <script src="../../../public/jquery/jquery.min.js"></script>
    <script src="../../../public/js/bootstrap.min.js"></script>
    <script src="../../../public/js/global.js"></script>

</body>

</html>