<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Simple Sidebar - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="../../../public/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../../public/css/all.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../../../public/css/global.css" rel="stylesheet">
  <link href="../../../public/css/avatar.css" rel="stylesheet">

</head>

<body>


  <div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar" class="active">
      <ul class="list-unstyled components">
        <li >
          <img style="width: 150px; height: auto; margin-left: 30px; margin-top: 10px;" src="../../../public/images/logo-sidebar.png">
        </li>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
      </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">

      <button type="button" id="sidebarCollapse">
        <i class="fas fa-bars"></i>
      </button>


      <div class="container">
        
        <div class="row justify-content-center">
            <div class="col-md-8" id="registro">
                <div class="d-flex flex-wrap">
                    <div class="w-50 p-4">
                        <img src="../../../public/images/logo-sidebar.png" class="img-fluid" alt="Sumándonos">
                    </div>
                </div>

                <div class="avatar" >

                    <div class="name-user" >
                        <div class="name">
                            <img class="pencil" src="../../../public/images/avatar/pencil.png">
                            <input id="password-field" type="text" class="form-control" name="password" placeholder="Nombre de usuario">
                            
                        </div>
    
                        
                        <img class="rounded-circle" src="../../../public/images/avatar/Elipse 22.png" data-holder-rendered="true">        
                        <img class="camera" src="../../../public/images/avatar/camera.png">
                        <img class="borde" src="../../../public/images/avatar/borde.png">
    
                    </div>
                  
                    
                    <div class="images">
                        <div class="row" id="avatar-img">
                            <div class="col-3 col-sm-3"  id="avatar-select">
                                <img class="avatar-select" src="../../../public/images/avatar/avatar1.png">
                            </div>
    
                            <div class="col-3 col-sm-3"  id="avatar-select">
                                <img class="avatar-select" src="../../../public/images/avatar/avatar3.png">
                            </div>
    
                            <div class="col-3 col-sm-3"  id="avatar-select">
                                <img class="avatar-select" src="../../../public/images/avatar/avatar3.png">
                            </div>
                        </div>
    
                        <div class="row" id="avatar-img">
                            <div class="col-3 col-sm-3"  id="avatar-select">
                                <img class="avatar-select" src="../../../public/images/avatar/avatar4.png">
                            </div>
    
                            <div class="col-3 col-sm-3"  id="avatar-select">
                                <img class="avatar-select" src="../../../public/images/avatar/avatar5.png">
                            </div>
    
                            <div class="col-3 col-sm-3"  id="avatar-select">
                                <img class="avatar-select" src="../../../public/images/avatar/avatar6.png">
                            </div>
                        </div>
                    </div>
                   

                </div>



                <form action="" >
                    <div class="form-group">
                        <input type="text" name="city-player" class="form-control" placeholder="Estado">
                    </div>

                    
                    <h4 id="intereses-h4">Intereses</h4>
                    <div class="row" id="intereses">

                        <div class="col-6 col-sm-3"><div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                            <label class="form-check-label" for="exampleRadios1">
                              Alimentos y bebidas
                            </label>
                          </div>
                        </div>
                        
                        <div class="col-6 col-sm-3">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                <label class="form-check-label" for="exampleRadios1">
                                  Ropa
                                </label>
                            </div>
                        </div>

                        <div class="col-6 col-sm-3"><div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                            <label class="form-check-label" for="exampleRadios1">
                              Viajes y Ocio
                            </label>
                          </div>
                        </div>
                        
                        <div class="col-6 col-sm-3">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                <label class="form-check-label" for="exampleRadios1">
                                  Abarrotes
                                </label>
                            </div>
                        </div>

                        <div class="col-6 col-sm-3"><div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                            <label class="form-check-label" for="exampleRadios1">
                              Productos Hogar
                            </label>
                          </div>
                        </div>
                        
                        <div class="col-6 col-sm-3">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                <label class="form-check-label" for="exampleRadios1">
                                  Otros
                                </label>
                            </div>
                        </div>
                    
                    </div>


                    <div class="form-group text-right">
                        <button class="btn">
                            Guardar
                        </button>
                    </div>

                </form>
            </div>
        </div>
        </div>
    </div>


  </div>


  <!-- Bootstrap core JavaScript -->
  <script src="../../../public/jquery/jquery.min.js"></script>
  <script src="../../../public/js/bootstrap.min.js"></script>>
  <script src="../../../public/js/global.js"></script>
  <script src="../../../public/js/avatar.js"></script>

</body>

</html>