<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="../../../public/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../public/css/all.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../../public/css/global.css" rel="stylesheet">
    <link href="../../../public/css/registro.css" rel="stylesheet">

</head>

<body>


    <div class="wrapper">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <a href="" class="btn btn-registro-fb">
                        <i class="fab fa-facebook-f"></i>
                        <span class="text-left w-100">Registro con facebook</span>
                    </a>
                    <a href="" class="btn btn-registro-google">
                        <i class="fab fa-google"></i>
                        <span class="text-left w-100">Registro con Google</span>
                    </a>
                    <a href="" class="btn btn-registro-email">
                        <i class="fas fa-envelope"></i>
                        <span class="text-left w-100">Registro con e-mail</span>
                    </a>
                </div>
            </div>
        </div>

    </div>


    <!-- Bootstrap core JavaScript -->
    <script src="../../../public/jquery/jquery.min.js"></script>
    <script src="../../../public/js/bootstrap.min.js"></script>
    <script src="../../../public/js/global.js"></script>


</body>

</html>