@font-face {
    font-family: Montserrat;
    font-style: normal;
    src: url("../fonts/montserrat/Montserrat-Hairline.eot");
    src: url("../fonts/montserrat/Montserrat-Hairline.eot?#iefix")
        format("embedded-opentype"),
      url("../fonts/montserrat/Montserrat-Hairline.woff") format("woff"),
      url("../fonts/montserrat/Montserrat-Hairline.ttf") format("truetype"),
      url("../fonts/montserrat/Montserrat-Hairline.svg") format("svg"),
      url("../fonts/montserrat/Montserrat-Hairline.otf");
    font-weight: 100;
  }
  @font-face {
    font-family: Montserrat;
    font-style: normal;
    src: url("../fonts/montserrat/Montserrat-UltraLight.eot");
    src: url("../fonts/montserrat/Montserrat-UltraLight.eot?#iefix")
        format("embedded-opentype"),
      url("../fonts/montserrat/Montserrat-UltraLight.woff") format("woff"),
      url("../fonts/montserrat/Montserrat-UltraLight.ttf") format("truetype"),
      url("../fonts/montserrat/Montserrat-UltraLight.svg") format("svg"),
      url("../fonts/montserrat/Montserrat-UltraLight.otf");
    font-weight: 200;
  }
  @font-face {
    font-family: Montserrat;
    font-style: normal;
    src: url("../fonts/montserrat/Montserrat-Light.eot");
    src: url("../fonts/montserrat/Montserrat-Light.eot?#iefix")
        format("embedded-opentype"),
      url("../fonts/montserrat/Montserrat-Light.woff") format("woff"),
      url("../fonts/montserrat/Montserrat-Light.ttf") format("truetype"),
      url("../fonts/montserrat/Montserrat-Light.svg") format("svg"),
      url("../fonts/montserrat/Montserrat-Light.otf");
    font-weight: 300;
  }
  @font-face {
    font-family: Montserrat;
    font-style: normal;
    src: url("../fonts/montserrat/Montserrat-Regular.eot");
    src: url("../fonts/montserrat/Montserrat-Regular.eot?#iefix")
        format("embedded-opentype"),
      url("../fonts/montserrat/Montserrat-Regular.woff") format("woff"),
      url("../fonts/montserrat/Montserrat-Regular.ttf") format("truetype"),
      url("../fonts/montserrat/Montserrat-Regular.svg") format("svg"),
      url("../fonts/montserrat/Montserrat-Regular.otf");
    font-weight: 400;
  }
  
  @font-face {
    font-family: Montserrat;
    font-style: normal;
    src: url("../fonts/montserrat/Montserrat-SemiBold.eot");
    src: url("../fonts/montserrat/Montserrat-SemiBold.eot?#iefix")
        format("embedded-opentype"),
      url("../fonts/montserrat/Montserrat-SemiBold.woff") format("woff"),
      url("../fonts/montserrat/Montserrat-SemiBold.ttf") format("truetype"),
      url("../fonts/montserrat/Montserrat-SemiBold.svg") format("svg"),
      url("../fonts/montserrat/Montserrat-SemiBold.otf");
    font-weight: 600;
  }
  @font-face {
    font-family: Montserrat;
    font-style: normal;
    src: url("../fonts/montserrat/Montserrat-Bold.eot");
    src: url("../fonts/montserrat/Montserrat-Bold.eot?#iefix")
        format("embedded-opentype"),
      url("../fonts/montserrat/Montserrat-Bold.woff") format("woff"),
      url("../fonts/montserrat/Montserrat-Bold.ttf") format("truetype"),
      url("../fonts/montserrat/Montserrat-Bold.svg") format("svg"),
      url("../fonts/montserrat/Montserrat-Bold.otf");
    font-weight: 700;
  }
  @font-face {
    font-family: Montserrat;
    font-style: normal;
    src: url("../fonts/montserrat/Montserrat-ExtraBold.eot");
    src: url("../fonts/montserrat/Montserrat-ExtraBold.eot?#iefix")
        format("embedded-opentype"),
      url("../fonts/montserrat/Montserrat-ExtraBold.woff") format("woff"),
      url("../fonts/montserrat/Montserrat-ExtraBold.ttf") format("truetype"),
      url("../fonts/montserrat/Montserrat-ExtraBold.svg") format("svg"),
      url("../fonts/montserrat/Montserrat-ExtraBold.otf");
    font-weight: 800;
  }
  @font-face {
    font-family: Montserrat;
    font-style: normal;
    src: url("../fonts/montserrat/Montserrat-Black.eot");
    src: url("../fonts/montserrat/Montserrat-Black.eot?#iefix")
        format("embedded-opentype"),
      url("../fonts/montserrat/Montserrat-Black.woff") format("woff"),
      url("../fonts/montserrat/Montserrat-Black.ttf") format("truetype"),
      url("../fonts/montserrat/Montserrat-Black.svg") format("svg"),
      url("../fonts/montserrat/Montserrat-Black.otf");
    font-weight: 900;
  }
  * {
    font-family: Montserrat;
  }
body{
    min-height: 100vh;
    position: relative;
    display: block;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}
.bg-blue1{
    background-color: #0099C0;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #1c3054;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #0594c6;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

#sidebarCollapse{
    
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}


.form-control, .btn{
    padding: 12px;
    border-radius: 9px;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
