a.btn.btn-registro-fb,
a.btn.btn-registro-google,
a.btn.btn-registro-email{
    display: flex;
    color: white;
    font-weight: 300;
    width: 100%;
    margin-bottom: 10px;
}
a.btn.btn-registro-fb{
    background-color: #35528A;
}

a.btn.btn-registro-google{
    background-color: #DB4437;
}

a.btn.btn-registro-email{
    background-color: #222222;
}


a.btn.btn-registro-fb i,
a.btn.btn-registro-google i,
a.btn.btn-registro-email i{
    width: 50px;
    margin-right: 12px;
}