
/* ---------------------------------------------------
     Custom navabr
----------------------------------------------------- */
.custom_nav .navbar.navbar-fixed-top .navbar-inner{
    background: rgba(255, 255, 255, 0);
}
/* ---------------------------------------------------
    Background images
----------------------------------------------------- */

  /* ---------------------------------------------------
    Background images
----------------------------------------------------- */
.text-light{
    color:gray;
}

a {color: black;}
a:hover {color: green;}